@font-face {
    font-family: "DotGothic16";
    src: url("fonts/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PottaOne";
    src: url("fonts/Potta_One/PottaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype")
}

.dotgothic16 {
  font-family: "DotGothic16", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.pottaOne {
    font-family: "PottaOne";
    font-weight: 800;
    font-style: normal;
}


/* website styling */

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: Helvetica, sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #828079;
    margin: 15px;
    padding: 10px;
}


.title {
    margin: 35px 0px 15px;
    text-align: center;

    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 400;

    color: #ffc400;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  transform: translateX(16%);
  
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: auto;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 900px;
  max-width: 90%;
  height: auto;
  position: absolute;
  left: 50%; /* anchor to center */
}

.tophydrangea {
    width: 750px; 
    transform: translateX(35%);
}

.bottomhydrangea {
    width: 800px; transform: 
    translateX(25%);
}

.navbar {
    display: flex; 
    flex-direction: column;
}

.navbar a {
    flex: 1;
    padding: 0px;
    text-align: left;

    font-size: 36px;

    color: #000000;
}

.navbar a:hover {
    color: #307ad2;
}

.navbar .caption {
    flex: 1;
    padding: 0px 0px 10px;
    text-align: left;
    
    font-size: 10px;
    
    color: #000000;
}

.citation {
    flex: 1;
    font-size: 3px;
}


@media (max-width: 900px) {

  .layout {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  /* Reduce offsets so images stay readable on mobile */
  .tophydrangea img {
    transform: translateX(-55%);
  }

  .bottomhydrangea img {
    transform: translateX(-45%);
  }
}